@import url('./index.less');
.main {
  grid-column-start: 2;
  grid-row-start: 2;
  background-image: url("../Img/backgroundimg.jpg");
  background-size: cover;
  overflow: auto;
  color:white;
  section {
    padding: 5vmin;
  }

  @media @phone {
    grid-column-start: 1;
    grid-column-end: 3;;
  }
}
