.nav {
  grid-row-start: 2;
  background-color: #202020;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
@media only screen and (max-width:500px) {
  .nav {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.nav .nav__ul {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
}
@media only screen and (max-width:500px) {
  .nav .nav__ul {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.nav .nav__ul__li {
  margin: auto;
}
@media only screen and (max-width:500px) {
  .nav .nav__ul__li {
    margin: 0;
  }
}
.nav .nav__profile_picture {
  border-radius: 100px;
  width: 8vmin;
}
.nav .nav__icon {
  font-size: 8vmin;
}
.nav .nav__icon_briefcase {
  color: white;
}
