@font-face {
  font-family: "Ubuntu";
  src: url("./misc/font/Ubuntu/Ubuntu-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  width: 100vw;
  height: 100vh;
}
